/* CSS Document */

/*PAGE LAYOUT*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#logo{float:left; width:274px; height:213px;}
#topheader{float:right; width:526px; height:97px; background-color:#F0F0F0; position:relative}
#toplinks{position:absolute; right:10px; top:10px;}
#menu{float:right; width:526px; height:32px; background-image:url(bg_menu.gif); background-repeat:repeat-x;}
#submenu{float:right; width:526px; height:32px; background-image:url(bg_submenu.gif); background-position:top; background-repeat:repeat-x;}
#contenttext{float:right; width:800px;}
#leftpanel{float:left; width:274px;}
#footer{float:left; width:800px; background-color:#F0F0F0; padding:10px;}
#slagzin{
	text-align:right;
	font-weight:bold;
	color:#CC0000;
	font-size:0.7em;
	font-family: Tahoma, sans-serif;
}

/*GRAY PANEL*/
.graypanel{
	border:solid 1px #666666; background-color:#F7F7F7; padding:10px; margin:10px;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

.beep {
font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	/*text-align:center;*/
	font-weight:bold;
	color:#CC0000;
}

.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#FFFFFF;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}

.paarseachtergrond {
	width: 60%; height: 150px;
	color:#000000; 
	font: 1em Tahoma, sans-serif;
	margin:10px;
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #7F00EF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #7F00EF 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #7F00EF 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #7F00EF));
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #7F00EF 100%);
	background-image: linear-gradient(to top, #FFFFFF 0%, #7F00EF 100%);
	border-radius:15px;
	-moz-border-radius:15px;
}