/* CSS Document */

/*PAGE LAYOUT*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#wrapper{width: 800px;}
#logo{float:left; width:274px; height:213px;}
#topheader{float:right; width:526px; height:97px; background-color:#F0F0F0; position:relative}
#toplinks{position:absolute; right:10px; top:10px;}
#menu{float:right; width:526px; height:32px; background-image:url("images/bg_menu.gif"); background-repeat:repeat-x;}
#submenu{float:right; width:526px; height:32px; background-image:url("images/bg_submenu.gif"); background-position:top; background-repeat:repeat-x;}
#contenttext{float:right; width:800px; padding-bottom:50px}
#leftpanel{float:left; width:274px;}
#footer{float:left; position:fixed; bottom:0px; width:800px; background-color:#F0F0F0; padding:10px 0px;}
#slagzin{
	text-align:right;
	font-weight:bold;
	color:#CC0000;
	font-size:0.7em;
	font-family: Tahoma, sans-serif;
}

body{
	font-family: Tahoma, sans-serif;
}

#jmenu, #mmenu, #loginForm{
	display: none;
}

#mmenu{
	display:none;
}

/*GRAY PANEL*/
.graypanel{
	border:solid 1px #666666; background-color:#F7F7F7; padding:10px; margin:10px;
}

/*TEXT STYLES*/
.bodytext {
	font: 1em Tahoma, sans-serif;
	color: #666666;
}

.beep {
font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	/*text-align:center;*/
	font-weight:bold;
	color:#CC0000;
}

.titlecontainer {
	padding:10px;
}

.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#FFFFFF;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}

.centreren {
	text-align: center;
}

textarea.bigger {
	width:500px;
	height:50px;
}

.achtergrondSloebers, .achtergrondPinkels {
	padding: 20px;
	border: 1px solid #696;
	margin: 10px;
	-webkit-box-shadow: #666 2px 2px 3px;
	-moz-box-shadow: #666 2px 2px 3px;
	box-shadow: #666 2px 2px 3px;
	background: #A43FFD;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A43FFD), to(#FFFFFF));
	background: -webkit-linear-gradient(#A43FFD, #FFFFFF);
	background: -moz-linear-gradient(#A43FFD, #FFFFFF);
	background: -ms-linear-gradient(#A43FFD, #FFFFFF);
	background: -o-linear-gradient(#A43FFD, #FFFFFF);
	background: linear-gradient(#A43FFD, #FFFFFF);
	-pie-background: linear-gradient(#A43FFD, #FFFFFF);
	behavior: url(static/PIE.htc);
}

.achtergrondSpeelclub {
	padding: 20px;
	border: 1px solid #696;
	margin: 10px;
	-webkit-box-shadow: #666 2px 2px 3px;
	-moz-box-shadow: #666 2px 2px 3px;
	box-shadow: #666 2px 2px 3px;
	background: #FFFF00;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFF00), to(#FFFFFF));
	background: -webkit-linear-gradient(#FFFF00, #FFFFFF);
	background: -moz-linear-gradient(#FFFF00, #FFFFFF);
	background: -ms-linear-gradient(#FFFF00, #FFFFFF);
	background: -o-linear-gradient(#FFFF00, #FFFFFF);
	background: linear-gradient(#FFFF00, #FFFFFF);
	-pie-background: linear-gradient(#FFFF00, #FFFFFF);
	behavior: url(static/PIE.htc);
}

.achtergrondRakkers, .achtergrondKwiks{
	padding: 20px;
	border: 1px solid #696;
	margin: 10px;
	-webkit-box-shadow: #666 2px 2px 3px;
	-moz-box-shadow: #666 2px 2px 3px;
	box-shadow: #666 2px 2px 3px;
	background: #00FF00;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00FF00), to(#FFFFFF));
	background: -webkit-linear-gradient(#00FF00, #FFFFFF);
	background: -moz-linear-gradient(#00FF00, #FFFFFF);
	background: -ms-linear-gradient(#00FF00, #FFFFFF);
	background: -o-linear-gradient(#00FF00, #FFFFFF);
	background: linear-gradient(#00FF00, #FFFFFF);
	-pie-background: linear-gradient(#00FF00, #FFFFFF);
	behavior: url(static/PIE.htc);
}

.achtergrondToppers, .achtergrondTippers{
	padding: 20px;
	border: 1px solid #696;
	margin: 10px;
	-webkit-box-shadow: #666 2px 2px 3px;
	-moz-box-shadow: #666 2px 2px 3px;
	box-shadow: #666 2px 2px 3px;
	background: #FF0000;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF0000), to(#FFFFFF));
	background: -webkit-linear-gradient(#FF0000, #FFFFFF);
	background: -moz-linear-gradient(#FF0000, #FFFFFF);
	background: -ms-linear-gradient(#FF0000, #FFFFFF);
	background: -o-linear-gradient(#FF0000, #FFFFFF);
	background: linear-gradient(#FF0000, #FFFFFF);
	-pie-background: linear-gradient(#FF0000, #FFFFFF);
	behavior: url(static/PIE.htc);
}

.achtergrondKerels, .achtergrondTiptiens {
	padding: 20px;
	border: 1px solid #696;
	margin: 10px;
	-webkit-box-shadow: #666 2px 2px 3px;
	-moz-box-shadow: #666 2px 2px 3px;
	box-shadow: #666 2px 2px 3px;
	background: #0000FF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0000FF), to(#FFFFFF));
	background: -webkit-linear-gradient(#0000FF, #FFFFFF);
	background: -moz-linear-gradient(#0000FF, #FFFFFF);
	background: -ms-linear-gradient(#0000FF, #FFFFFF);
	background: -o-linear-gradient(#0000FF, #FFFFFF);
	background: linear-gradient(#0000FF, #FFFFFF);
	-pie-background: linear-gradient(#0000FF, #FFFFFF);
	behavior: url(static/PIE.htc);
}

.achtergrondAspiranten .achtergrondAspi's {
	padding: 20px;
	border: 1px solid #696;
	margin: 10px;
	-webkit-box-shadow: #666 2px 2px 3px;
	-moz-box-shadow: #666 2px 2px 3px;
	box-shadow: #666 2px 2px 3px;
	background: #FF6600;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF6600), to(#FFFFFF));
	background: -webkit-linear-gradient(#FF6600, #FFFFFF);
	background: -moz-linear-gradient(#FF6600, #FFFFFF);
	background: -ms-linear-gradient(#FF6600, #FFFFFF);
	background: -o-linear-gradient(#FF6600, #FFFFFF);
	background: linear-gradient(#FF6600, #FFFFFF);
	-pie-background: linear-gradient(#FF6600, #FFFFFF);
	behavior: url(static/PIE.htc);
}